<html>  
<head>  
	<title>  Hello  World  </title>  
</head>  

<body>  
<p>  Hello  World  </p>  
<div class="container">  
    <h1>What hashtag would you like to see?</h1>  
     
    <form  id="viewHashTag" role="form" method="post" action="/hashtag">  
        <h3>View Hashtag</h3>  
        <div class="form-group"> 
            <input  type="text"  class="form-control" id="hashtag" placeholder="hashtag" name="hashtag">
        </div>  
        <input type="submit" id="submitBtn" class="btn btn-default" value="View Hashtag"></input>  
    </form>  
</div>

	{{#if hashtagValue}}  
           <div  class="container">  
               <h3>You are currently checking out #{{hashtagValue}}</h3>  
               <div class="row"> 
                {{#each imageArray}}  
                <div  class="col-­‐xs-­‐4"> 
                        <img src="{{url}}" class="img-responsive"> 
                        <br>  
                </div>  
                {{/each}}  
               </div>  
           </div>  
           <br>  
 	{{/if}}

 	{{#each imageArray}}  
 		<div  class="col-xs-4" class="images" style="text-lign:center">  
       		<img src="{{url}}" class="img-responsive" class="img hashtag-img"><br>  
             <form id="saveHashTag" role="form" method="post" action="/save">  
                       <input type="hidden" name="hashtag" value="{{../hashtagValue}}">  
                       <input type="hidden" name="url" value="{{url}}">  
                       <button type="submit" class="btn btn-info">Save</button>  
             </form>  
                <br><br>  
        </div>  
	{{/each}} 

	<div class="row">  
 		{{#each images}}  
     		<div class="col-xs-4" class="images" style="text-align:center">  
           		<img src="{{image}}" class="img-responsive" class="img hashtag-img-"><br>  
           		<h4>#{{hashtag}}</h4>  
     		</div>  
 		{{/each}}  
	</div> 

	<form id="deleteHashTag" role="form" method="post" action="/delete">  
     <input type="hidden" name="id" value="{{_id}}">  
     <button type="submit" class="btn btn-danger">Delete</button>  
	</form> 


</body>  

</html>  